.container{
    background-color: #fff;
    display: grid;
    grid-template-columns:  1fr ;
   // background-color: pink;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 5px black;
}
.list{
    display: grid;
    //background-color: blue;
    grid-template-columns: auto auto auto;
    align-items: center;
    transition: all 0.5s ease;
    p{
        transition: all 0.5s ease;
    }
    img{
        justify-self: end;
        margin-right: 10px;
        opacity: 0;
        transition: all 0.5s ease;
    }
    input[type='checkbox']{
        margin-left: 10px;
        transform: scale(1.5);
    }
   
}
.list:hover{
    background-color: rgb(27, 2, 2);
    p{
        color: white;
    }
    img{
        color: #fff;
        opacity: 1;
        cursor: pointer;
    }
}
.list:not(:last-child){
    border-bottom: 1px solid gray;
}
.ckecked{
    text-decoration: line-through;
    color: grey;
}
.dark{
    input[type='checkbox']{
        
    }
    background-color: black;
    p{
        color: grey;
    }
}