.container{
    background-color: #fff;
    display: grid;
    grid-template-columns:  1fr ;
   // background-color: pink;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 5px 5px black;
}
.list{
    display: grid;
    //background-color: blue;
    grid-template-columns: auto auto auto;
    align-items: center;
    transition: all 1s ease;
    
    img{
        justify-self: end;
        margin-right: 10px;
        opacity: 0;
        transition: all 1s ease;
    }
   
}
.list:hover{
    background-color: #fff;
    img{
        opacity: 1;
        cursor: pointer;
    }
}
.list:not(:last-child){
    border-bottom: 1px solid gray;
}
.ckecked{
    text-decoration: line-through;
    color: grey;
}