
*{
    box-sizing: border-box;
}
.container{
    //max-width: 1200px;
    display: grid;
    grid-template-columns:20px 15% 80%;
    // justify-self: end;
    height: 100%;
    
}
ul{
    list-style-type: none;
}
.nav{
   // display: none;
    grid-column: 2/3;
    margin: 0;
  //  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:50px 1fr;
    background-color: rgb(78, 179, 47);
    height: 100vh;
    //max-width: auto;
}
.main{
    grid-column: 3/4;
}