<div [ngClass]='{ "dark": toggle===false }' class="body">
    <div  class="container">
        <div [ngClass]='{ "dark2": toggle===false }' class="main">
            <div class="img">
                <img src="../../../assets/todo-app-main/images/bg-desktop-light.jpg" alt="brgbvdf">
            </div>
            <div class="input">
                <p class='TODO' >TODO</p>
                <div class="icon">
                    <img 
                    (click)='toggles(true)' 
                    *ngIf='toggle' 
                    src="../../../assets/todo-app-main/images/icon-sun.svg" >
    
                    <img
                     (click)='toggles(false)'
                     *ngIf='!toggle' 
                     src="../../../assets/todo-app-main/images/icon-moon.svg" >
                </div>
                <form  class='multi'>
                    <input #newtodo type="text" class="add">
                    <button type="submit" (click)='prevent($event);onsubmit(newtodo.value)'>click</button>
                </form>
            </div>
        </div>
        <div  class="lists">
            <app-lists (delete) ='deletAtodo($event)' [thingstodo]='x'
                [toggle]='toggle'
            ></app-lists>
        </div>
    </div>
    
    
</div>